@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --pf-global--primary-color--100: #067DB8;
    --pf-global--primary-color--200: #067DB8;
    --pf-global--secondary-color:#82AADA;
    --default-background-color: #2F8CC3;
    --link-color: #2F8CC3;
    --link-hover-color: #005587;
    --transparent-color:rgba(0,0,0,0);
}

/*Variables Kalisio {
  --primary: #067DB8;
  --secondary: #82AADA;
  --accent: #2F8CC3;
  --dark: #005587;
  --info: var(--accent);
  --positive: #7bb946;
  --negative: #e31c3d;
  --warning: #fdb81e;
}*/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

#kc-header {
  text-align: end;
}

#kc-page-title {
  color: var(--default-background-color);
  font-size: 24px;
}

#partenariat {
  font-size: 18px;
  color: var(--link-color);
}

#logoIrsn, #logoOpal {
    max-height: 50px;
}
#logoAnccli {
    max-width: 100px;
}

.login-pf body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #bed6ff 0%, #ffdadc 100%);
    -webkit-animation: AnimateBG 30s ease infinite;
      animation: AnimateBG 30s ease infinite;
}
@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card-pf {
    border-radius: 1%;
    box-shadow: rgba(0,0,0,0.5);
}

input[type=submit] {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 3px var(--default-background-color);
    font-size: 16px;
    color: white;
    background-color: var(--default-background-color)!important;
    text-transform: uppercase;
    padding: 8px;
    margin: auto;
    margin-top: 1em;
    width: 200px!important;
}

input[type=submit]:hover {
    background-color: var(--link-hover-color)!important;
    box-shadow: 0px 0px 3px var(--pf-global--secondary-color);
}

.login-pf header {
    padding: 10px;
}

.login-pf a {
    color: var(--default-background-color);
    text-decoration: none;
}

.login-pf a:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

div#k-sponsor {
  margin-top : 50px;
}

#kdk-sponsor-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#kdk-sponsor {
  margin-left: 5px;
  border-color: var(--transparent-color);
  border-radius: 50%;
  background-color: var(--transparent-color);
  transition: 0.5s;
}

#kdk-sponsor:hover {
  background-color: rgba(0,0,0,0.1);
}

.pf-c-form-control {
    --pf-global--primary-color--100: unset;
}

#Klogo {
  object-fit: cover;
  object-position: 50% 50%;
}